<% provide(:title, "Home Apples")%>
<div class="center hero-unit">
  <h1>Art</h1>

  <h2>
    This is where you go to 
    <a href="http://www.arthornsby.com/">Rock!</a>
    and Roll.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://s3.amazonaws.com/dfc_attachments/images/3206005/IMG_20120926160505_web.JPG", alt: "Rails"), 'http://www.arthornsby.com/' %>
